node_modules
.idea
*.sw?
*.pyc
/build/
/documentation
/thirdparties/download
/thirdparties/tooling
/thirdparties/python
dist
.eslintcache
generated
generatedBranch
assets
testsuite/out
testsuite/tests/projects/out
obj
obj-*
*.srctrace
*.trace
dhtml
