/examples/ptoolset/ptoolset-report.js no-precommit-check
/examples/ptoolset/nosegear-report.js no-precommit-check
/.eslintrc.js no-precommit-check
/e2e/protractor.conf.js no-precommit-check
/karma.conf.js no-precommit-check
/src/assets/** no-precommit-check
/src/generated/** no-precommit-check
