<td
  (click)="onToggleClick()"
  class="xcov-source-row-line-no unselectable xcov-source-line-number"
>
  <div class="xcov-source-line-code">
    <mat-icon
      *ngIf="hasAttached() && !isExpanded"
      class="xcov-source-line-mark"
      inline="true"
      matTooltip="Click to expand"
      >expand_more
    </mat-icon>
    <mat-icon
      *ngIf="hasAttached() && isExpanded"
      class="xcov-source-line-mark"
      inline="true"
      matTooltip="Click to collapse"
      >expand_less
    </mat-icon>
    <pre class="xcov-source-line-code">{{ mapping.line.lineNumber }}</pre>
  </div>
</td>
<td class="xcov-source-row-cov-symbol unselectable">
  <div
    class="xcov-source-line-code xcov-source-line-coverage"
    matTooltip="{{ statusProperties[coverageStatus].name }}"
  >
    <pre class="xcov-source-line-code">{{
      statusProperties[coverageStatus].annotation
    }}</pre>
  </div>
</td>
<td
  (click)="onSelectLine()"
  class="xcov-source-row-text xcov-source-line-text xcov-source-line-code"
>
  <ng-container *ngIf="getHTMLText | async as txt">
    <div [innerHTML]="txt"></div>
  </ng-container>
  <ng-container *ngIf="hasAttached() && isExpanded">
    <ng-container *ngFor="let message of mapping.messages; index as i">
      <ng-container *ngIf="message">
        <app-message
          [message]="message"
          [line]="mapping.line.lineNumber"
          [message_id]="i"
        ></app-message>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="mapping.instructionSet">
      <app-instruction-set
        [hidden]="!isExpanded"
        [instructionSet]="mapping.instructionSet"
      ></app-instruction-set>
    </ng-container>
  </ng-container>
</td>
