# Thirdparty dependencies config file.

# Remote repository dependency example:
#
# [project]
# vcs = (git|svn)                               [Mandatory]
# remote = {url}                                [Mandatory]
# revision = {rev}                              [Optional]
# vcs.checkout.flags = {switches}               [Optional]

# Binary distribution dependency example:
#
# [project]
# url = {url}                                   [Mandatory]
# deflate.opts = remove_root_dir                [Optional]
# distrib = bin lib                             [Mandatory]

# Source distribution dependency example (only support configure/make for now)
#
# [project]
# url = {url}                                   [Mandatory]
# configure = --prefix=${distrib.prefix}        [Mandatory]
# make = all install                            [Optional]

# General order attributes:
#
# [project]
# platform = darwin linux
# depends = project0 project1

# Platform specific specialization:

# [project.linux]
# base.url = http://scm.foo.com/project
# [project.x86-linux]
# url = {base.url}-linux-i686
# [project.x64-linux]
# url = {base.url}-linux-x86_64

# Any other attribute can be defined and used within format-string.

# Note: ${tools.prefix}, ${distrib.prefix} and ${python.prefix} are to be used
# in configure and/or make rules only. The script needs to evaluate them at the
# last minute to substitue them w/ relative path to avoid issue related to
# using absolute paths on Cygwin.

# Redefining python prefix for python modules installation

[python]
prefix = python

[pypi]
prefix = http://pypi.python.org/packages/source

[gnatpython]
vcs = git
vcs.checkout.flags = --recursive
remote = https://forge.open-do.org/anonscm/git/gnatpython/gnatpython.git
setup.py = install
release = yes

# Dependency of google closure linter
[python-gflags]
version = 2.0
depends = closure
url = ${pypi.prefix}/p/python-gflags/python-gflags-${python-gflags.version}.tar.gz
deflate.opts = remove_root_dir
setup.py = install

# Google Closure Tools

[closure]
revision = 20130212-95c19e7f0f5f
url = https://closure-library.googlecode.com/files/closure-library-${closure.revision}.zip
tools.closure = closure third_party
release = yes

[closure-linter]
version = 2.3.9
depends = closure python-gflags
url = http://closure-linter.googlecode.com/files/closure_linter-${closure-linter.version}.tar.gz
deflate.opts = remove_root_dir
setup.py = install
release = yes

[closure-compiler]
version = 20130227
depends = closure
url = http://closure-compiler.googlecode.com/files/compiler-${closure-compiler.version}.tar.gz
tools.bin = compiler.jar

# Javascript Development Tools

[node]
version = 0.8.18
url = http://nodejs.org/dist/v${node.version}/${node.package}.${node.package.ext}
[node.windows]
package = node
package.ext = exe
tools.bin = node.exe
[node.linux]
package.ext = tar.gz
deflate.opts = remove_root_dir
tools = bin lib share include
[node.x86-linux]
package = node-v${node.version}-linux-x86
[node.x64-linux]
package = node-v${node.version}-linux-x64
[node.darwin]
package = node-v${node.version}-darwin-x64
package.ext = tar.gz
deflate.opts = remove_root_dir
tools = bin lib share include

[less]
tag = v1.4.1
url = https://github.com/cloudhead/less.js/archive/${less.tag}.zip
deflate.opts = remove_root_dir
depends = node
tools = bin lib dist

# ???: The following dependencies will be used in the future for testing
# purpose.

# [phantom]
# version = 1.7.0
# url = http://phantomjs.googlecode.com/files/${phantom.package}.${phantom.package.ext}
# deflate.opts = remove_root_dir
# [phantom.darwin]
# package = phantomjs-${phantom.version}-macosx
# package.ext = zip
# tools = bin
# [phantom.windows]
# package = phantomjs-${phantom.version}-windows
# package.ext = zip
# tools.bin = phantomjs.exe
# [phantom.linux]
# package.ext = tar.bz2
# tools = bin
# [phantom.x86-linux]
# package = phantomjs-${phantom.version}-linux-i686
# [phantom.x64-linux]
# package = phantomjs-${phantom.version}-linux-x86_64
# 
# # Javascript Testing Environment
# 
# [jstd]
# version = 1.3.5
# url = http://js-test-driver.googlecode.com/files/JsTestDriver-${jstd.version}.jar
# tools.bin = JsTestDriver-${jstd.version}.jar
# 
# [jstd-coverage]
# url = http://js-test-driver.googlecode.com/files/coverage-${jstd.version}.jar
# tools.bin = coverage-${jstd.version}.jar
#
# # Javascript documentation generator
# 
# [jsdoc-toolkit]
# version = 2.4.0
# url = https://jsdoc-toolkit.googlecode.com/files/jsdoc_toolkit-${jsdoc-toolkit.version}.zip
# deflate.opts = remove_root_dir
# tools.share = jsdoc-toolkit
