<div class="xcov-navigation">
  <a routerLink="/report">⇪ Back to sources list</a>
</div>

@if (traces$ | async; as allTraces) {
  @for (programTraces of allTraces; track programTraces) {
    <h2 class="xcov-section-title">❯{{ programTraces[0] }}</h2>
    <table class="xcov-traces-table">
      <thead>
        <th matTooltip="The name of the trace file">Trace Filename</th>
        <th matTooltip="When it has been generated">Date</th>
        <th matTooltip="The tag associated with this run, if any">Tag</th>
      </thead>
      <tbody>
        @for (trace of programTraces[1]; track trace; let i = $index) {
          <tr class="{{ getIndexClass(i) }}">
            <td>{{ trace.filename }}</td>
            <td>{{ trace.date }}</td>
            <td>{{ trace.tag }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
}
