@use '../../styles';

.xcov-traces {
  &-table {
    margin-left: 5%;
    width: 90%;

    tr,
    th,
    td {
      padding: 4px 3px;

      font-size: styles.$xcov-font-size;
      font-weight: normal;
    }

    tr {
      text-align: left;
    }

    thead {
      color: white;
      background: styles.$xcov-table-header-bgcolor;

      th {
        border: styles.$xcov-table-header-border;
      }
    }

    tbody td {
      border: styles.$xcov-table-body-border;
    }
  }
}
