<table class="xcov-table" matSort (matSortChange)="sortData($event)">
  <thead>
    <th mat-sort-header="name">
      <span style="float: left; display: none"></span
      >{{ project.getHeadName() }}
    </th>
    <th
      mat-sort-header="total"
      [style.width.%]="ctx.width"
      class="xcov-count"
      arrowPosition="before"
    >
      <span style="float: left; display: none"></span>
      {{ getTotalLabel() }}
    </th>
    @for (status of ctx.properties; track status) {
      <th mat-sort-header="{{ status }}" arrowPosition="before">
        <span style="float: left; display: none"></span
        >{{ statusProperties[status].name }}
      </th>
    }
    <th><span style="float: left; display: none"></span>Summary</th>
  </thead>
  <tbody>
    <ng-container
      *ngTemplateOutlet="
        metrics;
        context: { enumerables: sortedData, margin: 0, visible: true }
      "
    >
    </ng-container>

    <ng-template
      #metrics
      let-enumerables="enumerables"
      let-margin="margin"
      let-visible="visible"
    >
      @for (enumerable of enumerables; track enumerable) {
        @if (visible) {
          @if (visible) {
            <tr
              app-enumerable-info
              [enumerable]="enumerable"
              [ctx]="ctx"
              [isSource]="isSource"
              [projectName]="projectName"
              [margin]="margin"
              [isLeaf]="enumerable.getChildren().length === 0"
              (clickedOnEnumerable)="clickOnEnumerable($event)"
              (expanded)="expand($event)"
              (collapsed)="collapse($event)"
            ></tr>
          }
          <ng-container
            *ngTemplateOutlet="
              metrics;
              context: {
                enumerables: enumerable.getChildren(),
                margin: margin + 20,
                visible: visible && isExpanded(enumerable),
              }
            "
          >
          </ng-container>
        }
      }
    </ng-template>
  </tbody>
</table>
