<td class="xcov-table-filename">
  @if (isSource) {
    <!-- a source file in the index
    at this point, enumerable is a source, see if source is missing or not -->
    @if (enumerable['missingSource']) {
      <!-- source has no code, most of the time because it is a runtime file when activating branch level-->
      <span class="xcov-table-missing-source">
        {{ enumerable.getName() }}
        <span class="xcov-table-missing-source-note">
          (missing source, not executed?)
        </span>
      </span>
    } @else {
      <!-- a link to an annotated source in the index-->
      <a
        routerLink="/sources/{{ projectName }}/{{
          getHunkFilename(enumerable)
        }}"
      >
        {{ enumerable.getName() }}
      </a>
    }
  } @else {
    <div style="margin-left: {{ margin }}px">
      @if (!isLeaf && !isExpanded) {
        <mat-icon
          inline="true"
          style="float: left; position: relative"
          matTooltip="Click to expand"
          (click)="expand()"
        >
          expand_more
        </mat-icon>
      }
      @if (!isLeaf && isExpanded) {
        <mat-icon
          inline="true"
          style="float: left; position: relative"
          matTooltip="Click to collapse"
          (click)="collapse()"
        >
          expand_less
        </mat-icon>
      }
      <span (click)="clickOnEnumerable()">{{ enumerable.getName() }}</span>
    </div>
  }
</td>
<td [style.width.%]="ctx.width" class="xcov-table-count">
  {{ enumerable.total }}
</td>
@for (status of ctx.properties; track status) {
  <td class="xcov-table-count">
    <div class="xcov-table-cell">
      <span>
        {{ getStat(enumerable, status) || 0 }}
      </span>
      <span class="unselectable">
        {{ enumerable.getStatsPercent()[status] }}%
      </span>
    </div>
  </td>
}
<td class="xcov-table-summary">
  <app-summary [ctx]="ctx" [enumerable]="enumerable"></app-summary>
</td>
