<table class="xcov-summary">
  <tbody>
    <tr>
      @for (status of ctx.properties; track status) {
        @if (enumerable.getStatsPercent()[status] !== 0) {
          <td
            class="xcov-summary{{ statusProperties[status].classSuffix }}"
            matTooltip="{{ enumerable.getStatsPercent()[status] }}% {{
              statusProperties[status].name
            }}"
            width="{{ enumerable.getStatsPercent()[status] }}%"
          ></td>
        }
      }
    </tr>
  </tbody>
</table>
