.xcov-section-title {
  color: #444;
  margin: 30px 6% 15px 6%;
}

.xcov-report {
  width: 100%;

  &-title {
    margin-top:    15px;
    margin-bottom: 5px;
    text-align: center;
  }

  &-coverage-level {
    margin-bottom: 25px;
    text-align: center;
  }
}
