.xcov-report {
  width: 100%;

  &-title {
    padding-top:    10px;
    padding-bottom: 5px;
    text-align: center;
  }

  &-coverage-level {
    padding-bottom: 10px;
    text-align: center;
  }
}
