.xcov-scroller {
  position: fixed;
  top: 1%;
  left: 1%;

  font-size: 2em;
  text-align: center;

  width: 3%;

  background-color: rgba(0, 0, 0, 0.75);
  color: white;

  .xcov-border-radius(3px);
};
