// Full line background
.bgline (@color) {
  background-color: @color;

  &:hover .xcov-source-line-number {
    background-color: @xcov-line-number-bgcolor-hover;
  }
}

// Partial line background, full on hover
.bgline-hover (@color) {
                     &:hover { background-color: @color; }
  .xcov-source-line-coverage { background-color: @color; }

  &:hover .xcov-source-line-number {
    background-color: @xcov-line-number-bgcolor-hover;
  }
}

.xcov-source {
  width:  90%;
  margin: 15px 5%;

  &-content {
    border: @xcov-table-body-border;
    tbody tr:hover { background-color: transparent; }
  }

  &-toolbar {
    padding: 3px 0;
    text-align: right;
  }

  button { padding: 3px 5px; margin-right: 5px; }
  &-autoroll { margin-right: 5px; }

  &-line {
    outline: 0;

    &-number, &-coverage, &-message-info {
      float: left;
      border-right: @xcov-table-body-border;

      z-index: 1;
    }

    &-number, &-message-info {
      text-align: right;
      padding: 0 10px;

          width: 3%;
      min-width: 50px;

      background-color: @xcov-line-number-bgcolor;
    }

    &-coverage {
      width: 20px;
      padding: 0 7px;
      font-size: 0.6em;
      text-align: center;
    }

    &-text { position: relative; left: 10px; margin-right: 10px; }

    &-code {
      white-space: pre;
      font: @xcov-font-size-monospace @xcov-font-family-monospace;
    }

    &-message {
      border-top:    @xcov-table-body-border;
      border-bottom: @xcov-table-body-border;
      background-color: white;

      clear: both;

      &, &-info, &-body { min-height: 20px; }

      &-mark { float: left; position: relative; top: 2px; }

      &-info, &-body { padding: 5px 10px; }
      &-info { text-transform: capitalize; }
      &-body {
        position: relative;
        left: 10px;
        margin-right: 10px;
      }

      &-sco {
        font-weight: bold;
        color: @xcov-link-color;
        font: @xcov-font-size @xcov-font-family-monospace;
      }
    }

    &-no-code:hover {
      background-color: @xcov-table-row-hover !important;

      .xcov-source-line-number {
        background-color: @xcov-line-number-bgcolor-hover;
      }
    }

    &-covered                 { .bgline-hover(@xcov-line-covered);           }
    &-partially-covered       { .bgline(@xcov-line-partially-covered);       }
    &-not-covered             { .bgline(@xcov-line-not-covered);             }
    &-exempted-no-violation   { .bgline(@xcov-line-exempted-no-violation);   }
    &-exempted-with-violation { .bgline(@xcov-line-exempted-with-violation); }
  }
};
