.xcov-total, .xcov-sources {
  &-table {
    margin-left: 5%;
    width: 90%;

    &-cell {
      span {
        &:first-child { }
        &:last-child {
          .inline-block;

          width: 35px;
          font-size: 0.8em;
          font-style: italic;
          color: @xcov-disabled-color;
        }
      }
    }

    &-count   {
      width: 10%;
      text-align: right;

      padding-left:  8px !important;
      padding-right: 8px !important;
    }

    &-summary    { width: 20%; }
    &-filename {
      &-project {
        margin-left: 15px;
        color: @xcov-disabled-color;
      }

      a { display: block; }
    }

    a  { display: block; }
    th {
      .xcov-disable-user-selection;
      // &:hover { &:before { content: '↕ '; } }
    }

    tr, th, td, &-filename {
      padding: 4px 3px;

      font-size: @xcov-font-size;
      font-weight: normal;
    }

    tr { text-align: left; }

    thead {
      color:      white;
      background: @xcov-table-header-bgcolor;

      th { border: @xcov-table-header-border; }
    }

    tbody td { border: 1px solid #bbb; }
  }
}
