// Full line background
.bgline (@color) {
  &:hover { background-color: transparent; }

  &, &:hover {
    .xcov-source-line-text { background-color: @color; }
  }
  .xcov-source-line-coverage { background-color: @color; }

  &:hover .xcov-source-line-number {
    background-color: @xcov-line-number-bgcolor-hover;
  }
}

// Partial line background, full on hover
.bgline-hover (@color) {
  &:hover { background-color: transparent; }

  &-expanded, &:hover {
    .xcov-source-line-text { background-color: @color; }
  }
  .xcov-source-line-coverage { background-color: @color; }

  &:hover .xcov-source-line-number {
    background-color: @xcov-line-number-bgcolor-hover;
  }
}

.xcov-source {
  width:  90%;
  margin: 15px 5%;

  &-content {
    width:  100%;
    border: @xcov-table-body-border;
  }

  &-toolbar {
    padding: 3px 0;
    text-align: right;
  }

  button { padding: 3px 5px; margin-right: 5px; }
  &-autoroll { margin-right: 5px; }

  &-row {
    &-line-no, &-cov-symbol {
      position: relative;
      border-right: @xcov-table-body-border;
    }

    &-line-no {
      vertical-align: top;
      min-width: 50px;
      width: 1%;
      outline: 0;
    }

    &-cov-symbol {
      vertical-align: top;
      min-width: 30px;
      width: 1%;
    }

    &-text { width: 98%; }
  }

  &-line {
    outline: 0;

    &-expanded {
      background-color: transparent;

      .xcov-source {
        &-row-line-no, &-line-number {
          background-color: @xcov-line-number-bgcolor-hover;
        }
      }
    }

    &-number, &-coverage, &-message-info {
      float: left;
      z-index: 1;
    }

    &-message-info {
      border-right: @xcov-table-body-border;
    }

    &-number {
      text-align: right;
      padding: 0 10px;

      background-color: @xcov-line-number-bgcolor;

          width: 3%;
      min-width: 50px;
    }

    &-coverage {
      width: 20px;
      padding: 0 5px;
      font-size: 0.6em;
      text-align: center;
    }

    &-text { position: relative; padding-left: 10px; }

    &-code {
      white-space: pre;
      font: @xcov-font-size-monospace @xcov-font-family-monospace;
    }

    &-mark { float: left; position: relative; top: 2px; }

    &-message {
      padding: 10px;
    }

    &-attached {
      border: @xcov-table-body-border;
      background-color: white;

      width: 100%;

      margin-bottom: 0;

      tr {
        td {
          width: 1%;

          * { padding: 2px 10px; }

          border-right: @xcov-table-body-border;
          background-color: @xcov-line-number-bgcolor;

          &:last-child {
            width: 99%;

            border-right: none;
            background-color: transparent;
          }
        }

        &:hover {
          td {
            background-color: @xcov-line-number-bgcolor-hover;

            &:last-child { background-color: transparent; }
          }
        }
      }

      &-message {
        &-label {
          text-align: right;
          text-transform: capitalize;
        }
      }

      &-sco {
        font-weight: bold;
        color: @xcov-link-color;
        font: @xcov-font-size @xcov-font-family-monospace;
      }

      &-insn {
        &-symbol { font-weight: bold !important; }

        &-offset, &-address, &-coverage, &-asm {
          font: @xcov-font-size @xcov-font-family-monospace;
        }

        &-padding { text-align: center; color: @xcov-disabled-color; }
        &-tooltip { font-size: 12px; }

        &-coverage {
          &-covered                 { background-color: @xcov-line-covered;                 }
          &-partially-covered       { background-color: @xcov-line-partially-covered;       }
          &-not-covered             { background-color: @xcov-line-not-covered;             }
          &-exempted-no-violation   { background-color: @xcov-line-exempted-no-violation;   }
          &-exempted-with-violation { background-color: @xcov-line-exempted-with-violation; }
        }
      }
    }

    &-no-code:hover {
      background-color: @xcov-table-row-hover !important;

      .xcov-source-line-number {
        background-color: @xcov-line-number-bgcolor-hover;
      }
    }

    &-covered                 { .bgline-hover(@xcov-line-covered);           }
    &-partially-covered       { .bgline(@xcov-line-partially-covered);       }
    &-not-covered             { .bgline(@xcov-line-not-covered);             }
    &-exempted-no-violation   { .bgline(@xcov-line-exempted-no-violation);   }
    &-exempted-with-violation { .bgline(@xcov-line-exempted-with-violation); }
  }
};
