@tooltip-bgcolor:      #323232;
@tooltip-border-color: #808080;
@tooltip-text-color:   #eee;

.xcov-empty-content {
  width:  0;
  height: 0;

  content: '';
  display: block;
}

.xcov-tooltip {
  position: absolute;
  z-index: 20010;
  .xcov-box-shadow(0, 0, 5px, 0, rgba(0, 0, 0, 0.25));

  &-inner {
     min-height: 14px;
    line-height: 14px;

    padding: 4px 8px;

    font-size: 0.9em;
    background-color: @tooltip-bgcolor;
    border: 1px solid @tooltip-border-color;

    .xcov-border-radius(2px);
  }

  &-content {
    color:     @tooltip-text-color;
    padding:   2px 5px;

    white-space: nowrap;
  }

  &-top-arrow {
    position: absolute;
    top:  -7px;
    left: 16px;

    height: 0;
    width: 0;

    display: block;

    &-outer {
      position: absolute;
      top:  0px;
      left: -7px;

      border:           7px solid;
      border-color:     @tooltip-border-color transparent;
      border-top-width: 0;

      background-color: transparent;
      .xcov-empty-content;
    }

    &-inner {
      position: absolute;
      top:  1px;
      left: -7px;

      border:           7px solid;
      border-color:     @tooltip-bgcolor transparent;
      border-top-width: 0;

      background-color: transparent;
      .xcov-empty-content;
    }
  }

  &-bottom-arrow {
    position: absolute;
    right:  18px;
    bottom: 0;

    width:  0;
    height: 0;

    display: block;

    &-outer {
      position: absolute;
      left: -5px;

      border:              7px solid;
      border-color:        @tooltip-border-color transparent;
      border-bottom-width: 0;

      background-color: transparent;
      .xcov-empty-content;
    }

    &-inner {
      position: absolute;
      top: -8px;
      left: -7px;

      border:              7px solid;
      border-color:        @tooltip-bgcolor transparent;
      border-bottom-width: 0;

      background-color: transparent;
      .xcov-empty-content;
    }
  }

  &-left-arrow {
    position: absolute;
    top:  10px;
    left: -8px;

    width:  0;
    height: 0;

    display: block;

    &-outer {
      position: absolute;
      top: -1px;
      left: 1px;

      border:            7px solid;
      border-color:      transparent @tooltip-border-color;
      border-left-width: 0;

      background-color: transparent;
      .xcov-empty-content;
    }

    &-inner {
      position: absolute;
      top: -7px;
      left: 1px;

      border:            7px solid;
      border-color:      transparent @tooltip-bgcolor;
      border-left-width: 0;

      background-color: transparent;
      .xcov-empty-content;
    }
  }

  &-right-arrow {
    position: absolute;
    top:   10px;
    right: 0;

    width:  0;
    height: 0;

    display: block;

    &-outer {
      position: absolute;
      top: -1px;
      left: 0;

      border:             7px solid;
      border-color:       transparent @tooltip-border-color;
      border-right-width: 0;

      background-color: transparent;
      .xcov-empty-content;
    }

    &-inner {
      position: absolute;
      top: -7px;
      left: -8px;

      border:             7px solid;
      border-color:       transparent @tooltip-bgcolor;
      border-right-width: 0;

      background-color: transparent;
      .xcov-empty-content;
    }
  }
}
