@xcov-font-size:   12px;
@xcov-font-color:  #222;
@xcov-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial;

@xcov-status-covered:                 #b5d600;
@xcov-status-partially-covered:       #ffc707;
@xcov-status-not-covered:             #e94b42;
@xcov-status-exempted-no-violation:   #9ec6e7;
@xcov-status-exempted-with-violation: #cccccc;

@xcov-table-header-bgcolor: #6199df;
@xcov-table-header-border:  1px solid #4d90fe;

* { margin: 0; padding: 0; }

body {
  color: @xcov-font-color;
  font:  @xcov-font-size @xcov-font-family;
  font-weight: normal;
}

img, iframe { border: 0; }

table {
  border-spacing:  0;
  border-collapse: collapse;

  margin-bottom: 30px;
}

@import "report";
@import "sources";
@import "traces";
