@xcov-font-size:   12px;
@xcov-font-color:  #222;
@xcov-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial;

@xcov-font-size-monospace:   14px;
@xcov-font-family-monospace: Inconsolata, Monospace;

@xcov-summary-covered:                 rgba(181, 214,   0, 1.0);
@xcov-summary-partially-covered:       rgba(255, 199,   7, 1.0);
@xcov-summary-not-covered:             rgba(233,  75,  66, 0.9);
@xcov-summary-exempted-no-violation:   rgba(158, 198, 231, 1.0);
@xcov-summary-exempted-with-violation: rgba(204, 204, 204, 0.7);

@xcov-line-covered:                 rgba(172, 233, 124, 1.0);
@xcov-line-partially-covered:       rgba(255, 246, 191, 1.0);
@xcov-line-not-covered:             rgba(255, 144, 144, 1.0);
@xcov-line-exempted-no-violation:   rgba(158, 198, 231, 0.5);
@xcov-line-exempted-with-violation: rgba(204, 204, 204, 0.35);

@xcov-line-number-bgcolor:  #efefef;

@xcov-table-header-bgcolor: #6199df;
@xcov-table-header-border:  1px solid #4d90fe;

@xcov-table-body-border:    1px solid #bbb;
@xcov-summary-table-border: 1px solid #888;

@xcov-table-row-even:  transparent;
@xcov-table-row-odd:   rgba(0, 0, 0, 0.02);

@xcov-table-row-hover: #d8edf9;

@xcov-link-color:       #4281eb;
@xcov-link-color-hover: #fd472b;

* { margin: 0; padding: 0; cursor: default; }

body {
  color: @xcov-font-color;
  font:  @xcov-font-size @xcov-font-family;
  font-weight: normal;
}

img, iframe { border: 0; }

table {
  border-spacing:  0;
  border-collapse: collapse;

  margin-bottom: 30px;

  tbody td       { vertical-align: middle; }
  tbody tr:hover { background-color: @xcov-table-row-hover; }
}

a {
  text-decoration: none;

  &, &:visited      { color: @xcov-link-color;     }
  &:hover, &:active { color: @xcov-link-color-hover}
}

pre { font: @xcov-font-size-monospace @xcov-font-family-monospace; }

/* Tables */

.xcov-table-row-even { background-color: @xcov-table-row-even; }
.xcov-table-row-odd  { background-color: @xcov-table-row-odd;  }

/* Inline blocks */

.inline-block {
  position: relative;

  display: -moz-inline-box;
  display:      inline-block;
}

.xcov-inline-block { .inline-block; }

.xcov-disable-user-selection {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
}

*:first-child+html .xcov-inline-block,
* html .xcov-inline-block { display: inline; }

/* Imports */

@import "help";
@import "navigation";
@import "report";
@import "source";
@import "sources";
@import "summary";
@import "traces";
