<div class="xcov-navigation">
  <a [routerLink]="['/report']">⇪ Back to sources list</a>
</div>
<div class="xcov-report-content">
  <ng-container *ngIf="source$ | async as source">
    <h2 class="xcov-section-title" id=":c">❯ {{ source.filename }}</h2>
    <app-enumerable-table
      [ctx]="ctx$ | async"
      [project]="source.getScopeMetrics()"
      [isSource]="false"
      (clickedOnEnumerable)="clickedOnEnumerable($event, scroll)"
    ></app-enumerable-table>
    <table class="xcov-source">
      <div class="xcov-source-toolbar">
        <mat-checkbox
          class="example-margin"
          [(ngModel)]="expandCollapseService.autoCollapse"
        >
          Auto Collapse
        </mat-checkbox>
      </div>
      <div class="search-widget" *ngIf="showSearch">
        <input
          #searchInput
          type="text"
          (input)="onSearchChange()"
          placeholder="Search..."
          class="search-input"
        />
        <span class="search-hits" *ngIf="showHits"
          >{{ activeIndex() + 1 }}/{{ hits() }}</span
        >
        <button (click)="prevMatch()">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <button (click)="nextMatch()">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <button (click)="closeSearch()"><mat-icon>close</mat-icon></button>
      </div>

      <virtual-scroller
        id="scroll"
        #scroll
        [items]="source.mappings"
        [parentScroll]="scroll.window"
        [childHeight]="20"
        [bufferAmount]="20"
        [enableUnequalChildrenSizes]="true"
      >
        <tbody #container class="xcov-source-content">
          <ng-container *ngFor="let mapping of scroll.viewPortItems">
            <tr
              class="{{ getClass(mapping) }}"
              app-source-line
              [mapping]="mapping"
              [language]="source.language"
            ></tr>
          </ng-container>
        </tbody>
      </virtual-scroller>
    </table>
  </ng-container>
</div>
