@import 'highlight.js/styles/github.css';
@import 'material-design-icons/iconfont/material-icons.css';

$xcov-font-size: 12px;
$xcov-font-color: #222;
$xcov-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial;

$xcov-font-size-monospace: 14px;
$xcov-font-family-monospace: Inconsolata, Monospace;

$xcov-summary-not-applicable: rgba(0, 0, 0, 0.1);
$xcov-summary-covered: rgb(181, 214, 0);
$xcov-summary-partially-covered: rgba(255, 199, 7, 1);
$xcov-summary-not-covered: rgba(233, 75, 66, 0.9);
$xcov-summary-not-coverable: #e2e2e2;
$xcov-summary-undetermined-coverage: #808080;
$xcov-summary-disabled-coverage: #808080;
$xcov-summary-exempted-no-violation: rgba(158, 198, 231, 1);
$xcov-summary-exempted-with-violation: rgba(128, 60, 190, 0.5);
$xcov-summary-exempted-with-undet-cov: rgba(25, 125, 255, 0.75);

$xcov-line-covered: rgba(172, 233, 124, 1);
$xcov-line-partially-covered: rgba(255, 255, 170, 1);
$xcov-line-not-covered: rgba(255, 144, 144, 1);
$xcov-line-not-coverable: rgba(0, 0, 0, 0.1);
$xcov-line-undetermined-coverage: #adacac;
$xcov-line-disabled-coverage: #adacac;
$xcov-line-exempted-no-violation: rgba(158, 198, 231, 0.5);
$xcov-line-exempted-with-violation: rgba(128, 60, 190, 0.3);
$xcov-line-exempted-with-undet-cov: rgba(25, 125, 255, 0.35);

$xcov-line-number-bgcolor: #efefef;
$xcov-line-number-bgcolor-hover: #e1e1e1;

$xcov-table-header-bgcolor: #6199df;
$xcov-table-header-border: 1px solid #4d90fe;

$xcov-table-body-border: 1px solid #bbb;
$xcov-summary-table-border: 1px solid #888;

$xcov-table-row-even: transparent;
$xcov-table-row-odd: rgba(0, 0, 0, 0.02);

$xcov-table-row-hover: #d8edf9;

$xcov-disabled-color: #888;

$xcov-link-color: #4281eb;
$xcov-link-color-hover: #fd472b;

* {
  margin: 0;
  padding: 0;
  cursor: default;
}

body {
  color: $xcov-font-color;
  font: $xcov-font-size $xcov-font-family;
  font-weight: normal;
  line-height: 1.25 !important;
  padding-top: 2px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

img,
iframe {
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;

  margin-bottom: 30px;

  tbody td {
    vertical-align: middle;
  }
  tbody tr:hover {
    background-color: $xcov-table-row-hover;
  }
}

a {
  text-decoration: none;

  &,
  &:visited {
    color: $xcov-link-color;
  }
  &:hover,
  &:active {
    color: $xcov-link-color-hover;
  }
}

pre {
  font: $xcov-font-size-monospace $xcov-font-family-monospace;
}

html,
body {
  height: 100%;
}
// https://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
