<div class="xcov-source-line-message">
  <table class="xcov-source-line-attached">
    <tbody></tbody>
    <tr
      class="xcov-source-line-attached-row{{ selectedSuffix }}"
      (click)="onSelectMessage($event)"
    >
      <td class="xcov-source-line-attached-message-label">
        {{ message.kind }}
      </td>
      <td class="xcov-source-line-attached-message-body">
        @if (hasSco() && (sco$ | async); as sco) {
          <span
            [ignoreForKeyEvents]
            role="button"
            tabindex="{0}"
            class="xcov-source-line-attached-sco"
            (click)="showText()"
            matTooltip="Select Text"
            >{{ sco.kind }} {{ sco.text }} at {{ strLowOrUp(sco.range, 0) }}
          </span>
        }
        {{ message.message }}
        @if (hasSco() && (sco$ | async); as sco) {
          @for (annotation of sco.annotations; track annotation) {
            <div>note: {{ annotation }}</div>
          }
        }
      </td>
    </tr>
  </table>
</div>
